<div class="container"> 
  <div class="row mt-4 border-bottom border-dark" style="margin-bottom: 10px;">  
    <div class="col-xs-4 col-md-4 col-lg-4">
      <div class="col-xs-6 col-md-6 col-lg-6">
      <span> Order Id: {{newOrderId}} </span>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-6">
        <input type="text" class="form-control" [(ngModel)]="modelNumber">
      </div>
  </div>
  <div class="col-xs-4 col-md-4 col-lg-4">
      <div>
        <span>{{counter}}</span>
        <button (click)="decrease()" class="btn btn-secondary">-</button>
        <button (click)="increment()" class="btn btn-secondary">+</button>
      </div>
  </div> 
  <div class="col-xs-4 col-md-4 col-lg-4">
    <div>
      <button class="btn btn-primary" (click)="createOrder()"> Create Order</button>
    </div>
  </div>
</div> <!-- Container-->
<router-outlet> </router-outlet>